.search {
    font-size: 30px;
    margin-bottom: 1em;
    margin-top: 2em;
    margin-left: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: lightseagreen;
    border: solid;
    border-radius: 5em;
}


.plus {
    font-size: 50px;
    color: white;
    background-color: lightseagreen;
    border: solid;
    border-radius: 50%;
    margin-left: 1em;
    border-color: white;
    width: 1.3em;
    
    
}

.createaccount {
    color: white;
    background-color: royalblue;
    border: solid;
    border-color: black;
    margin-top: 1em;
    margin-left: 2em;
    font-size: 35px;
    box-shadow: 10px 5px 5px black;
    padding-bottom: .2em;
}