@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');



/* css reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
}
.container {
    width: 1050px;
    min-height: 500px;
    margin-left: 25em;
}

.navbar {
    width: auto;
    height: 100px;
    
}

.top-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-nav > h1, h3 {
    cursor: pointer;
}

.cart-img {
    width: 2.5em;
    cursor: pointer;
}

.top-nav > h1 {
    font-size: 3em;
}

.leaf-img {
    background-color: #00d1b2;
    width: 45px;
}

#search-input {
    height: 35px;
    width: 600px;
    border-radius: 30px 30px 30px 30px;
    text-indent: 1em;
}



.bottom-nav {
    display: flex;
    height: 40px;
    width: auto;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid;
}

.bottom-nav > h4 {
    cursor: pointer;
}

.banner {
    height: 75px;
    align-items: center;
    text-align: center;
    margin-top: 1.5em;
}

.main-top {
    display: flex;
    justify-content: space-evenly;
    width: 1300px;
    height: 364px;
    color: white;
    margin-bottom: 2em;
}

.left-boxes {
    height: 325px;
    width: auto;
    display: flex;
    align-items: center;
    background-color: #00d1b2;
    margin-right: 3em;
}


.discover {
    background-color: #00d1b2;
    color: white;
    align-items: center;
    text-align: center;
}

.discover-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.arrow1 {
    margin-left: -3.5em;
    cursor: pointer;
}

.arrow2 {
    margin-left: -2em;
    cursor: pointer;
}

.succulent1 {
    margin-top: .2em;
}

.aloe-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .5em;
    background-color: #00d1b2;
    height: 6em;
}

.right-boxes {
    width: 325px;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    margin-right: 15.6em;   
}


.main-bottom {
    height: 215px;
    width: 1050px;
    background-color: #aeeae9;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-cards {
   text-align: center;
}


.plant-imgs {
    border-radius: 50%;
    width: 72%;
    cursor: pointer;
    margin-bottom: 1em;
}

.cookies {
    
    width: 925px;
    height: 150px;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 4em;
    margin-top: -4em;
    background-color: white;
}




.cookies > button {
    background-color: lightseagreen;
    color: white;
    box-shadow: 3px 3px 5px 3px black;
    font-size: 1em;
    width: 120px;
    height: 40px;
    margin-right: 2em;
    cursor: pointer;
}

.alert-img {
    margin-left: 1em;
}

.cookies-btn {
    margin-right: 2em;
}

.cookies > h2 {
    margin-left: 1em;
}

.search-bar > input > placeholder {
    margin-left: 1em;
}

