@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


.usercard {
    height: 500px;
    width: 1000px;
    border: solid;
    position: absolute;
    top: 0px;
    font-family: 'Roboto Condensed';
}

.header {
    height: 150px;
    background-color: aquamarine;
}

.info {
    position: absolute;
    top: 10px;
    padding: 2.5em;
    padding-left: -1em;
    margin-left: 1em;
    
}

.pic {
    object-fit: 100px;
    padding: .5em;
}

.pin {
    object-fit: 1em;
    padding-left: 5em;
    margin-right: 2em;
}

.sea {
    font-family: 'Roboto Condensed';
}

span {
    vertical-align: top;
}

.cog {
    padding-right: 1em;
    margin-left: 0.5em;
}

h3 {
    padding-top: 1em;
}

.title {
    margin-left: 5em;
    margin-top: -1em;
}

a {
    font-family: 'Roboto Condensed';
    color: blue;
    margin-left: 1em;
}

.sentence {
    padding-top: -1em;
}

.name {
    margin-top: 2em;
    margin-left: 2.5em;
}

.seattle {
    display: flex;
    align-items: center;
}

.footer {
    padding-left: 4.5em;
    padding-top: 1em;
    display: flex;
    align-items: center;
}